@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ILL_ListElem {
    font-family: 'Montserrat', sans-serif;
    @apply border-b-2 border-spacing-10 m-2 p-2 shadow-md rounded-md 
    hover:shadow-xl hover:rounded-xl transition-all duration-300 ease-in-out hover:text-white
    disabled:border-red-900 disabled:bg-red-800;
}

.ILL_ListElemScroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.ILL_ListElemScroll::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #475569;
}

.ILL_ListElemScroll::-webkit-scrollbar-thumb {
  background: #0f172a;
  padding: 1px;
  border-radius: 100vh;
}

.ILL_ListElemScroll::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}

.ILL_Thumbnail {
  object-fit:inherit;
  background-repeat: no-repeat;
}

.ILL_Tag {
  @apply bg-blue-600 dark:bg-blue-900 text-white rounded-xl relative 
  w-fit h-fit lg:p-[4px] lg:text-sm text-xs p-[6px] font-light
  shadow-md hover:shadow-xl m-1 hover:scale-105 transition-all duration-300 select-none
}