@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ILL_ListElem {
    font-family: 'Montserrat', sans-serif;
    @apply border-b-2 border-spacing-10 m-2 p-2 shadow-md rounded-md 
    hover:shadow-xl hover:rounded-xl transition-all duration-300 ease-in-out hover:text-white
    disabled:border-red-900 disabled:bg-red-800;
}
