<div class="ILL_ListElem -z-10 group bg-slate-100 dark:bg-slate-800 dark:text-white 
border-slate-400 dark:border-slate-900 hover:bg-slate-500 dark:hover:bg-slate-900 text-slate-700 transition-all duration-300" 
[@openClose]="card_expanded ? 'open' : 'closed'" [@mobileOpenClose]="card_mobile_expanded ? 'm_open':'m_closed'">
    <div class="flex flex-col">

        <!-- List Item Top -->

        <div class="flex flex-row items-center justify-evenly" (click)="expandCard()">

            <!-- Thumbnail -->
            <img [src]="card_yt_thumbnailURL" class="m-2 lg:w-[230px] w-0 lg:relative absolute aspect-video rounded-lg">

            <!-- Marked for removal -->
            <div *ngIf="level_marked_for_removal" 
            class="m-0 p-0 rounded-xl flex flex-col items-center justify-evenly lg:w-[116px] w-0">
                <img src="../../assets/marked_for_removal.png" width="116" height="116"/>
                <p class="bg-slate-800 text-base p-2 left-16 rounded-lg absolute origin-right shadow-lg select-none scale-0 group-hover:scale-100 transition-all duration-300 w-48">
                    {{ "Marked for removal: " + level_markdown_reason }}
                </p>
            </div>
            
            <!-- Annotated -->
            <div *ngIf="level_annotated" 
            class="m-0 p-0 rounded-xl flex flex-col items-center justify-evenly lg:w-[116px] w-0">
                <img src="../../assets/annotation.png" width="116" height="116"/>
                <p class="bg-slate-800 text-base p-2 left-16 rounded-lg absolute origin-right shadow-lg select-none scale-0 group-hover:scale-100 transition-all duration-300 w-48">
                    Annotation: Subject to gameplay and decoration quality exemptions
                </p>
            </div>

            <!-- Level position -->
            <b class="font-bold p-2 left-0 h-full lg:text-4xl text-2xl align-middle m-3 select-none">
                {{ '#' + level_position }}
            </b>


            <div class="flex flex-col w-full justify-center">
                
                <!-- Data column -->
                <div class="flex flex-row items-center justify-between w-full">
                    <!-- Name and creator -->
                    <div class="flex flex-col items-start justify-start w-fit">
                        <b class="font-semibold text-xl w-fit">
                            <fa-icon class="lg:absolute lg:scale-0 relative scale-100 align-middle" *ngIf="level_marked_for_removal" [icon]="i_removal"></fa-icon>
                            <fa-icon class="lg:absolute lg:scale-0 relative scale-100 align-middle" *ngIf="level_annotated" [icon]="i_annotation"></fa-icon>
                            <fa-icon class="lg:absolute lg:scale-0 relative scale-100 align-middle" *ngIf="level_minimal_wr_percent == '100'" [icon]="i_verified"></fa-icon>
                            
                            {{ level_name }}
                        </b>
                        <i class="text-lg align-bottom p-1 font-light ">{{"by " + level_creators_short }}</i>
                    </div>

                    <!-- FPS and ID -->
                    <div class="flex flex-col items-end justify-evenly">
                        <p class="font-light align-text-top"><fa-icon class="m-1" [icon]="i_fps"></fa-icon>{{'FPS: '+level_fps}}</p>
                        <br/>
                        <p class="font-medium align-text-bottom lg:text-base text-xs text-right"><fa-icon class="m-1" [icon]="i_levelID"></fa-icon>{{'Level ID: '+level_id}}</p>
                    </div>
                </div>
                 <!-- Tags for the level -->
                <div class="flex flex-row flex-wrap flex-shrink justify-end" *ngIf="level_tags.length > 0">
                    <b *ngFor="let tag of level_tags" class="ILL_Tag"><fa-icon class="m-1" [icon]="i_tag"></fa-icon>{{tag}}</b>
                </div>
            </div>
        </div>
       
            
        <!-- Expanded list items -->
        <div class="bg-slate-200 dark:bg-slate-700 border-spacing-2 border-t-4
        border-slate-400 dark:border-slate-500 rounded-lg shadow-lg text-slate-700 dark:text-white transition-all duration-300" 
        *ngIf="card_expanded || card_mobile_expanded">

            <div class="flex flex-row">
                <!-- Main video embed -->
                <iframe class="lg:p-3 p-0 lg:w-full h-full w-0 aspect-video" 
                [src]="card_yt_vidEmbedURL" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <!-- Extra info -->
                <div class="flex flex-col lg:items-start justify-start items-center lg:p-3 p-1 lg:border-l-4 lg:border-slate-400 lg:dark:border-slate-500 
                lg:text-lg text-xs overflow-y-scroll lg:h-[390px] h-[690px] w-full ILL_ListElemScroll">

                    <!-- Mobile embed -->
                    <iframe class="p-3 lg:p-0 lg:w-0 w-full aspect-video mx-auto lg:mx-0" 
                    [src]="card_yt_vidEmbedURL" title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <!-- Info boxes -->
                    <div class="flex lg:flex-row flex-col justify-between items-stretch w-full">

                        <!-- Basic info -->
                        <div class="bg-slate-300 dark:bg-slate-600 p-2 m-1 rounded-md shadow-md w-full 
                        text-sm hover:shadow-xl transition-all duration-300">
                            <b><fa-icon class="m-1" [icon]="i_info"></fa-icon> Basic level data:</b>
                            <div class="flex flex-row justify-around">
                                <div class="flex flex-col">
                                    <p>{{'Level name: ' + level_name}}</p>
                                    <p>{{'Required FPS: ' + level_fps}}</p>
                                    <p>{{'Level ID: ' + level_id }}</p>
                                </div>
                                <div class="flex flex-col">
                                    <p>Uploaded by: 
                                        <i class="m-1 p-1 lg:bg-slate-200 lg:dark:bg-slate-800 
                                        lg:rounded-lg lg:font-bold lg:shadow-lg transition-all duration-300 hover:scale-105">
                                            {{ level_uploader }}
                                        </i>
                                    </p>
                                    <p>{{'GD version: ' + level_gd_version}}</p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Level creators -->
                        <div class="bg-slate-300 dark:bg-slate-600 p-2 m-1 rounded-md shadow-md w-full 
                        text-sm hover:shadow-xl transition-all duration-300">
                        <b><fa-icon class="m-1" [icon]="i_creators"></fa-icon> Creators:</b>
                            <div class="flex flex-wrap justify-center">
                                <i *ngFor="let creator of level_creators_full" class="m-1 p-1 lg:bg-slate-200 lg:dark:bg-slate-800 lg:rounded-lg lg:font-bold lg:shadow-lg transition-all duration-300 hover:scale-105">{{ creator }}</i>
                            </div>
                        </div>
                    </div>

                    <!-- World record data -->
                    <div class="bg-slate-300 dark:bg-slate-600 p-2 m-1 rounded-md shadow-md h-fit w-full 
                    text-sm hover:shadow-xl transition-all duration-300">
                        <b><fa-icon class="m-1" [icon]="i_wr"></fa-icon> World Record: 
                            <i class="font-light italic text-sm">( {{"Minimum percent for WR: ≥"+level_minimal_wr_percent+"%"}} )</i>
                        </b>
                        <div class="flex flex-col items-center">
                            <b class="font-semibold text-lg"><fa-icon class="m-1" [icon]="i_wr"></fa-icon> {{level_wr}} <fa-icon class="m-1" [icon]="i_wr"></fa-icon></b>
                            <a [href]="level_wr_yt" *ngIf="level_wr != '' && level_wr != 'N/A'" class="bg-purple-500 text-white p-2 m-1 rounded-lg shadow-lg
                            hover:shadow-lg hover:scale-105 transition-all duration-200 w-fit">> Link <</a>
                            <p *ngIf="level_wr == '' || level_wr == 'N/A'">No world records yet. Be the first to achieve one!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
