<div class="mt-24 flex lg:flex-row flex-col justify-around">
    <div class="flex flex-col justify-center items-center ILL_Scroll">
        <div class="bg-slate-200 p-5 rounded-lg shadow-lg lg:w-fit dark:text-white dark:bg-slate-600 flex flex-col items-center w-screen">
            <b class="text-2xl  font-normal text-center">Frequently Asked Questions</b>
            <b class="font-light text-sm">Here are the answers to questions many people ask us</b>
        </div>
        <!-- FAQ Element -->
        <div class="bg-slate-200 lg:p-5 p-3 m-2 rounded-lg shadow-lg dark:text-white dark:bg-slate-600 flex flex-col lg:w-[720px] w-screen">
            <div class="flex flex-row items-start">
                <mat-icon>help</mat-icon>
                <b class="align-text-top text-lg">: How do you rank Impossible levels?</b>
            </div>
            <div class="flex flex-row items-start">
                <b class="align-text-top font-normal">The levels aren't actually fully "impossible", meaning they can be completed without noclip just like any other level, but its simply too hard to do for a human. That means that some levels are still harder than other, because of having more frame perfects or even 2 player mode.</b>
            </div>
        </div>
        <div class="bg-slate-200 lg:p-5 p-3 m-2 rounded-lg shadow-lg dark:text-white dark:bg-slate-600 flex flex-col lg:w-[720px] w-screen">
            <div class="flex flex-row items-start">
                <mat-icon>help</mat-icon>
                <b class="align-text-top text-lg">: Why are 2 player levels so high on the list?</b>
            </div>
            <div class="flex flex-row items-start">
                <b class="align-text-top font-normal">That is because levels with 2 player mode enabled are ranked by their difficulty to complete solo, so controlling both players at once. This makes these levels significantly harder, thus they appear much higher on the list.</b>
            </div>
        </div>
        <div class="bg-slate-200 lg:p-5 p-3 m-2 rounded-lg shadow-lg dark:text-white dark:bg-slate-600 flex flex-col lg:w-[720px] w-screen">
            <div class="flex flex-row items-start">
                <mat-icon>help</mat-icon>
                <b class="align-text-top text-lg">: Why are there easy levels at the bottom of the list?</b>
            </div>
            <div class="flex flex-row items-start">
                <b class="align-text-top font-normal">The list actually ranks levels that are harder than the hardest legitimately verified and rated level at the time when they were made. This means levels made back in 1.2 don't have to be harder than the current top 1 pointercrate to be on the list, but the hardest level at the time, that's why for example demon park is on the list, when it was made it was the hardest rated level.</b>
            </div>
        </div>
        <div class="bg-slate-200 lg:p-5 p-3 m-2 rounded-lg shadow-lg dark:text-white dark:bg-slate-600 flex flex-col lg:w-[720px] w-screen">
            <div class="flex flex-row items-start">
                <mat-icon>help</mat-icon>
                <b class="align-text-top text-lg">: How are levels decided on being added?</b>
            </div>
            <div class="flex flex-row items-start">
                <b class="align-text-top font-normal">If you submit a level that actually has some quality and is not a terrible/joke submission it will end in the quality-control staff channel, where all staff can vote on if your level should be added or not.  After a few days of voting the level will either pass or not, you can always ask what's the current state of votes on your level, and if it passes them it will end up in the pending-tasks channel.</b>
            </div>
        </div>
        <div class="bg-slate-200 lg:p-5 p-3 m-2 rounded-lg shadow-lg dark:text-white dark:bg-slate-600 flex flex-col lg:w-[720px] w-screen">
            <div class="flex flex-row items-start">
                <mat-icon>help</mat-icon>
                <b class="align-text-top text-lg">: How to get a level on the list?</b>
            </div>
            <div class="flex flex-row items-start">
                <b class="align-text-top font-normal">First you need make sure your level is actually harder than the top 1 demonlist and physically possible, the easiest way to do that is by botting the level. Levels are also required to have decent gameplay, and more importantly - decoration, so make sure your level is not a layout and actually has some decent decoration. After that you can simply submit the level in level-submissions and give it a shot.</b>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <div class="bg-slate-200 p-5 rounded-lg shadow-lg lg:w-fit dark:text-white dark:bg-slate-600 flex flex-col items-center w-screen">
            <b class="text-2xl  font-normal text-center">Extended Information</b>
            <b class="font-light text-sm text-center">Here is the document for extra information about the ILL</b>
        </div>
        <div class="lg:p-5 p-3 bg-slate-200 dark:bg-slate-600 ILL_Scroll rounded-lg shadow-lg lg:w-fit w-screen m-2">
           
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vT5F1mqsiTZqjwqV_z2QAy4hy8fJuMqy_4gMwPadW1MNfWBhxMW__tfgb9Nlbfk5PwSl9D_TlyFlSBb/pub?embedded=true"
            class="lg:w-[750px] w-full h-[820px]" frameBorder="0" title="ILL Information"></iframe>
        </div>
    </div>
</div>