@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ILL_ListElem {
    font-family: 'Montserrat', sans-serif;
}

.ILL_ListElemScroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.ILL_ListElemScroll::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #475569;
}

.ILL_ListElemScroll::-webkit-scrollbar-thumb {
  background: #0f172a;
  padding: 1px;
  border-radius: 100vh;
}

.ILL_ListElemScroll::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}

.ILL_Thumbnail {
  object-fit:inherit;
  background-repeat: no-repeat;
}

.ILL_Tag {
  @apply bg-[#4338ca] text-white rounded-xl relative 
  w-fit h-fit xl:p-[4px] xl:text-sm text-xs p-[6px] font-light xl:scale-100 scale-90
  shadow-md hover:shadow-xl m-1 hover:scale-105 transition-all duration-300 select-none
}

.ILL_textFX {
  text-shadow: black 5px 5px 10px;
}

.ILL_whiteOutline {
  text-shadow: -1px 1px 0 #FFFFFF,
				  1px 1px 0 #FFFFFF,
				  1px -1px 0 #FFFFFF,
				  -1px -1px 0 #FFFFFF;
}
.ILL_blackOutline {
  text-shadow: -1.5px 1.5px 0 #071013,
				  1.5px 1px 0 #071013,
				  1.5px -1.5px 0 #071013,
				  -1.5px -1.5px 0 #071013;
}
