rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ill/{document=**} {
      allow read: if true; 
      allow write: if getUserData().roles.admin == true;
    }
    match /user/{document=**} {
      allow read, write: if true;
    }
    match /facts/{document=**} {
      allow read: if true; 
      allow write: if getUserData().roles.admin == true;
    }
		match /wr-sumbissions/{document=**} {
    	allow read: if true;
      allow write: if request.auth != null
    }
    match /banners/{document=**} {
    	allow read: if true;
      allow write: if false;
    }
    
    
    function getUserData() {
      return get(/databases/$(database)/documents/user/$(request.auth.uid)).data
    }
  }
}