@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.ILL_Admin {
    font-family: 'Source Sans Pro', sans-serif;
}

.ILL_AdminScroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.ILL_AdminScroll::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #475569;
}

.ILL_AdminScroll::-webkit-scrollbar-thumb {
  background: #0f172a;
  padding: 1px;
  border-radius: 100vh;
}

.ILL_AdminScroll::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}