<div class="bg-slate-100 ILL_ListMain">
  <!-- Title -->
  <div class="pt-16">
    <img src="../assets/logo.png" width="128" height="128" class="relative mx-auto p-5 rounded-lg hover:scale-125 transition-all duration-300"/>
    <h1 class="text-3xl text-center relative font-medium">Impossible Level List</h1>
    <h3 class="text-center font-normal text-lg">Owned by Doki, Wuro & Tomejto</h3>  
    <h4 class="text-center font-light italic text-sm">Website built by MateussDev</h4>  
  </div>
  
  <!-- List -->
  <app-list></app-list>
</div>

<router-outlet></router-outlet>
<app-navbar></app-navbar>