<div class="w-[720px] dark:bg-slate-700 bg-slate-300 flex flex-col p-3 mt-20 mx-auto rounded-xl dark:text-white text-center shadow-2xl" *ngIf="authService.user$ | async as user">
    <b class="text-3xl text-center ">Submit a World Record</b>

    <b class="text-lg font-semibold">ILL level</b>
    <b class="font-normal italic dark:text-slate-300">The level you got a WR on</b>
    <input [(ngModel)]="bil_levelName" class="ILL_Field" type="text" placeholder="Type in the full name of the level you got a WR on"/>

    <b class="text-lg font-semibold">Progress</b>
    <b class="font-normal italic dark:text-slate-300">The progress you made as a percentage</b>
    <input [(ngModel)]="bil_run" class="ILL_Field" type="text" placeholder="eg: '35%', '0.810%', '45-67%'" (change)="remapProgress()"/>
    <b class="font-normal italic dark:text-slate-300">Preview:</b>
    <div class="m-2 h-3 rounded-full bg-slate-800">
        <!-- w is for the percentage that was the run (end% - start%), ml is the offset from start (start%) -->
        <div class="h-full from-blue-500 to-blue-700 bg-gradient-to-r rounded-full"
        [style.marginLeft]="bil_run_start+'%'" [style.width]="bil_run_total+'%'">
        </div>
    </div>

    <b class="text-lg font-semibold">Video completion</b>
    <b class="font-normal italic dark:text-slate-300">A proof video of the World record. This video will be tested for legitimacy</b>
    <input [(ngModel)]="bil_videoURL" class="ILL_Field" type="text" placeholder="eg: 'https://youtu.be/3xAmP13', 'https://cdn.discordapp.com/attachments/example_id/video.mp3'"/>

    <b class="text-lg font-semibold">Raw footage (Optional)</b>
    <b class="font-normal italic dark:text-slate-300">A URL link to the raw footage. This is not required by default, but if the staff has suspicion over the video completion we would require you to send raw footage. In this case type in your discord @</b>
    <input [(ngModel)]="bil_rawFootageURL" class="ILL_Field" type="text" placeholder="eg: 'https://cdn.discordapp.com/attachments/example_id/video.mp3' or '@ExampleAcc#1234'"/>

    <div class="w-full flex flex-row">
        <button class="w-full p-3 m-2 rounded-full text-white bg-slate-500 font-semibold hover:scale-105 transition-all duration-200">Cancel</button>
        <button class="w-full p-3 m-2 rounded-full text-white bg-blue-500 font-semibold hover:scale-105 transition-all duration-200">Submit</button>
    </div>
</div>

<div class="w-[720px] dark:bg-slate-700 bg-slate-300 flex flex-col p-3 mt-20 mx-auto rounded-xl dark:text-white text-center shadow-2xl" *ngIf="(authService.user$ | async) === null">
    <b class="text-3xl text-center ">Error!</b>
    <b class="text-xl text-center font-semibold">You need to log-in if you want to submit a WR</b>
    <button routerLink="/login" class="p-3 m-2 rounded-full text-white bg-blue-500 font-semibold hover:scale-105 transition-all duration-200">Log in</button>

</div>