<div class="flex flex-row">
    <!-- Position map -->
    <div class=" dark:text-white fixed left-0 lg:bottom-0 bottom-16 bg-slate-300 dark:bg-slate-800 lg:h-screen h-fit lg:p-5 p-2 shadow-lg lg:text-base text-xs">
        <div class="flex lg:flex-row flex-col-reverse items-baseline lg:w-full w-screen">
            <ul class="overflow-y-scroll ILL_AdminScroll lg:w-full lg:h-screen w-screen h-[66vh]" *ngIf="bil_showList">
                <li class="flex flex-row items-center transition-all duration-200 w-full" *ngFor="let level of levelList">
                    <div class="flex flex-col items-center justify-center text-sm">
                        <b class="p-2 text-xl text-center w-12 bg-slate-300 dark:bg-slate-700 h-full rounded-lg shadow-md select-none">#{{level.position}}</b>
                    </div>
                    <div class="bg-slate-300 dark:bg-slate-700 m-1 p-1 lg:text-lg text-sm rounded-lg shadow-md select-none flex flex-col w-full hover:bg-slate-900" (click)="loadDataFromLevel(level)">
                        <div class="flex flex-row items-center">
                            <fa-icon [icon]="i_edit" class="m-1"></fa-icon>
                            <b class="">{{level.name}}</b>
                        </div>
                        <b class="text-sm font-light">{{level.creators_short}}</b>
                    </div>
                </li>
            </ul>
            <div *ngIf="bil_showWRList" class="overflow-y-scroll ILL_AdminScroll lg:w-full lg:h-screen w-screen h-[66vh]">
                <div class="flex flex-row m-1 rounded-xl bg-slate-200 dark:bg-slate-700 items-center dark:text-white"
                *ngFor="let wr of wr_pendingList">
                    <a class="mx-1 font-semibold" [routerLink]="'/wr/'+wr.$key"><fa-icon class="mx-2" [icon]="i_link"></fa-icon>{{wr.level}}</a>
                    <b class="mx-1 font-normal mr-auto text-sm">{{wr.progress}}</b>
                    <button class="m-2 p-2 bg-green-600 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="approveSubmission(wr.$key)"><fa-icon [icon]="i_check"></fa-icon> </button>
                    <button class="m-2 p-2 bg-red-600 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="rejectSubmission(wr.$key)"><fa-icon [icon]="i_cross"></fa-icon> </button>
    
                </div>
            </div>
            <div class="flex lg:flex-col flex-row lg:justify-start justify-around h-full lg:w-fit w-full lg:mt-16">
                <div class="flex lg:flex-col flex-row m-1">
                    <button class="p-3 bg-slate-900 rounded-full" (click)="toggleILLList()">
                        <fa-icon [icon]="i_list" class="text-2xl m-1" *ngIf="!bil_showList"></fa-icon>
                        <fa-icon [icon]="i_cross" class="text-2xl m-1" *ngIf="bil_showList"></fa-icon>
                    </button>
                </div>
                <div class="flex lg:flex-col flex-row m-1">
                    <button class="p-3 bg-slate-900 rounded-full" (click)="toggleWRList()">
                        <fa-icon [icon]="i_wr" class="text-2xl m-1" *ngIf="!bil_showWRList"></fa-icon>
                        <fa-icon [icon]="i_cross" class="text-2xl m-1" *ngIf="bil_showWRList"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Level editor -->
    <div class="bg-slate-300 dark:bg-slate-600 lg:m-5 m-0 lg:ml-28 lg:p-10 p-3 h-full mb-48 flex flex-col lg:w-fit w-screen rounded-xl">
        <div>
            <div class="bg-slate-200 flex flex-col lg:p-5 p-[2px] shadow-lg rounded-lg">
                <p class="font-semibold">Basic information</p>
                <div class="flex flex-row flex-wrap items-baseline w-full">
                    <input [(ngModel)]="bil_name" id="ILLA_Name" class="m-1 p-2 border-l-4 border-blue-400 shadow-md rounded-lg bg-green-300" type="text" placeholder="Level Name" />
                    <input [(ngModel)]="bil_id" id="ILLA_ID" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Level ID" />
                    <input [(ngModel)]="bil_fps" id="ILLA_FPS" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Required FPS" />
                </div>
                <div class="flex flex-row flex-wrap items-center justify-start w-full">
                    <input [(ngModel)]="bil_c_s" id="ILLA_CreatorsShort" class="m-1 p-2 border-l-4 border-blue-400 shadow-md rounded-lg bg-green-300" type="text" placeholder="Creator/s short" />
                    <input [(ngModel)]="bil_upld" id="ILLA_Uploader" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Uploader Name" />
                    <input [(ngModel)]="bil_gdv" id="ILLA_Position" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="GD version" />
                    <input [(ngModel)]="bil_index" id="ILLA_Position" class="m-1 p-2 border-l-4 border-blue-400 shadow-md rounded-lg bg-green-300" type="number" placeholder="Level position" />
                </div>
                <input [(ngModel)]="bil_ytid" id="ILLA_YTID" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="YouTube Video ID" />
                <input [(ngModel)]="bil_c_f" id="ILLA_CreatorsFull" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Creator/s full" />
                <input [(ngModel)]="bil_tags" id="ILLA_Tags" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Tags" />
                <input [(ngModel)]="bil_wideshotURL" id="ILLA_Wideshot" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="URL to a wide level shot (optional) (discord also works)" />
                <div class="flex flex-row items-center justify-start w-full">
                    <input [(ngModel)]="bil_darktext" id="ILLA_DarkText" class="m-1 p-2 w-6 h-6 shadow-md" type="checkbox"/>
                    <p class="p-1 m-1 text-white  bg-red-400 rounded-lg shadow-md">Use dark text for wideshot</p>
                </div>
                <hr/>
                <p class="font-semibold">WR information</p>
                <input [(ngModel)]="bil_wr_min" id="ILLA_WR_Min" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="WR Minimum percentage (WITHOUT % and >)" />
                <input [(ngModel)]="bil_wr" id="ILLA_WR" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Current World Record" />
                <input [(ngModel)]="bil_wr_yt" id="ILLA_WRYT" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="url" placeholder="Current World Record Video" />
                <hr/>
                <p class="font-semibold">Annotation & Marking</p>
                <div class="flex flex-row items-center justify-start">
                    <input [(ngModel)]="bil_removal" id="ILLA_Deletion" class="m-1 p-2 w-6 h-6 shadow-md" type="checkbox"/>
                    <p class="p-1 m-1 text-white  bg-red-400 rounded-lg shadow-md">Mark Level for Removal</p>
                </div>
                <div class="flex flex-row items-center justify-start">
                    <input [(ngModel)]="bil_annotation" id="ILLA_Annotation" class="m-1 p-2 w-6 h-6 shadow-md" type="checkbox"/>
                    <p class="p-1 m-1 text-white  bg-gray-500 rounded-lg shadow-md">Annotate Level</p>
                </div>
                <input [(ngModel)]="bil_reason" id="ILLA_WRYT" class="m-1 p-2 border-l-2 border-blue-400 shadow-md rounded-lg" type="text" placeholder="Reason for Removal" />
                <p class="italic text-center text-green-800">{{lb_editStatus}}</p>
            </div>
            <button class="m-2 p-2 bg-blue-600 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200 disabled:bg-neutral-500" 
            [disabled]="!bil_name || !bil_c_s" (click)="submitLevel()">Save</button>
            <button class="m-2 p-2 bg-blue-600 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200 disabled:bg-neutral-500" 
            (click)="reSortLevels()">Sort</button>
            <button class="m-2 p-2 bg-gray-500 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="clearForm()">Clear</button>
            <button class="m-2 p-2 bg-gray-500 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="log()">Log</button>
            <button class="m-2 p-2 bg-green-500 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="remapLevels()">Remap level positions</button>
            <button class="m-2 p-2 bg-red-600 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="removeLevel()">Remove Level</button>
        </div>
        <!-- Logger -->
        <div class="bg-slate-400 m-2 p-3 rounded-lg shadow-lg flex flex-col items-stretch text-white">
            <p>Admin Log</p>
            <div class="bg-slate-700 m-1 p-2 rounded-lg shadow-lg text-white font-light" *ngFor="let log of auditLog">
                <p class="border-l-2 border-slate-400 pl-1">> {{log}}</p>
            </div>

        </div>
        <div class="flex flex-row w-full items-center">
            <button class="m-2 p-2 bg-pink-500 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="readd_database_entries()" >Fix up database queries</button>
            <button class="m-2 p-2 bg-orange-500 text-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-200" (click)="resetProfileData()" >Recount levels for creators</button>
        </div>
    </div>

    <!-- Record submissions -->
</div>
