<div class="mt-20 flex flex-col w-screen">
    <div class="flex flex-col justify-center items-center ILL_Scroll">
        <div class="bg-slate-200 p-5 rounded-lg shadow-lg lg:w-fit dark:text-white dark:bg-slate-600 flex flex-col items-center w-screen">
            <b class="text-2xl  font-normal text-center">Frequently Asked Questions</b>
            <b class="font-light text-sm">Here are the answers to questions many people ask us</b>
        </div>


        <div class="bg-slate-200 p-5 rounded-lg shadow-lg lg:w-fit dark:text-white dark:bg-slate-600 flex flex-col items-center w-screen my-4">
            <b class="text-2xl  font-normal text-center">General questions</b>
            <b class="font-light text-sm">Here are the answers to global questions about the list</b>
        </div>
        <div class="flex flex-row flex-wrap xl:w-[1420px] mx-auto justify-center">
            <!-- FAQ Element -->
            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-blue-500 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">Why does this list exist?</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">This list in a lot of aspects is ran for fun, but there is more to it than that.</b>
                    <b class="font-normal mt-4">The aim of this list is to rank top 1 and humanly impossible levels in a ranking as accurate as we can make it. This also includes former top 1s as well.</b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-blue-500 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">How do you rank impossible levels?</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">There are a couple ways actually; harder timings (usually in the form of frame perfects), differences in length, or even if the level is 2 player or not. Factors like these and more are what make up the positions of the hardest levels on our list.</b>
                    <b class="font-normal mt-4">The position on the list is usually determined by the staff members, who vote on a position after they playtested the level themselves.</b>
                    <b class="font-normal mt-4">Not all rankings will be 100% accurate of course. If you want to help improve the list and correct potential misinformation, feel free to help us at our <a class="text-purple-500 underline" href="https://discord.gg/MHx4Nbp">Discord server!</a></b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-blue-500 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <div class="flex flex-col mx-auto my-0">
                        <b class="text-xl font-semibold">Why are some famous impossible levels not on the list?</b>
                        <b class="font-normal text-blue-200 mx-auto my-0">(Eg: TON-618, Slaughterhouse, Schafs II Gings cut)</b>
                    </div>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">There could be many reasons why a certain level is not on our list.</b>
                    <b class="font-normal mt-4">A popular example would be "TON-618", this level would likely meet if it weren't for it being physically impossible and breaking clicks per second rules.</b>
                    <b class="font-normal mt-4">"Schafs" is a similar example, breaking  both cps and quality rules.</b>
                    <b class="font-normal mt-4">Others levels get marked for removal by the staff after the level was placed on the list like in the case of Schafs II or Domba.</b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-blue-500 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <div class="flex flex-col mx-auto my-0">
                        <b class="text-xl font-semibold">Why are 2 player levels higher on the list?</b>
                        <b class="font-normal text-blue-200 mx-auto my-0">(Eg: Codependence)</b>
                    </div>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">Levels with 2 player duals are typically ranked very highly on the list. The reason for this is quite simple, we judge the levels on the basis of them being played solo.</b>
                    <b class="font-normal mt-4">For example, "Codependence" is ranked above the Demonlist arcturus because its difficulty was determined with one player controlling both icons in mind.</b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-blue-500 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">Why is there a 15 cps limit?</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">The CPS rule is in place to get rid of levels which earn their difficulty off spam entirely, think levels such as Old Slaughterhouse or Silent Circles. <i class="text-base text-slate-600">(SC is an example of a level which was "fixed" for this list, having a unique edited version specifically for it).</i></b>
                    <b class="font-normal mt-4">The list was initially designed with more humanly feasible levels in mind, and while levels on the list are becoming harder than some of those levels.</b>
                    <b class="font-normal mt-4">This rule is still maintained to encourage more effort in gameplay and to remain consistent with how the list has been ran since 2019.</b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-blue-500 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">How to have fun in the ILL?</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">There are many ways to enjoy Geometry Dash, some people like creating and others enjoy beating demons.</b>
                    <b class="font-normal mt-4">Many ILL creators find that making impossible gameplay can be more interesting as you have more freedom to make the level how you want.</b>
                    <b class="font-normal mt-4">Some other people also like to try and get world records on the levels that are on the list. There is also a group of people who like to make macros of these levels and showcase them using various tools like TASbot and Megahack v7.</b>
                    <b class="font-normal mt-4">Due to the limitless nature of the game, there are many ways to enjoy Geometry Dash. And simply, one of those ways is found in the impossible levels community.</b>
                </div>
            </div>
        </div>


        <div class="bg-slate-200 p-5 rounded-lg shadow-lg lg:w-fit dark:text-white dark:bg-slate-600 flex flex-col items-center w-screen my-4">
            <b class="text-2xl  font-normal text-center">Creator questions</b>
            <b class="font-light text-sm">Here are the answers to questions from creators/future creators</b>
        </div>

        <div class="flex flex-row flex-wrap xl:w-[1420px] mx-auto justify-center">
            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-pink-600 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">How to make a level for the ILL</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">To cut it short, you have to make a level that has gameplay under 15 cps, have decent decoration / gameplay and be physically possible. It also has to be harder than the current top 1</b>
                    <b class="font-normal mt-4">When your level is completed, join our discord server and submit in the #level-submissions channel. It'll voted on by a group of members, if it wins voting, it'll be added.</b>
                    <b class="font-normal mt-4">The sky is your limit when it comes to gameplay creativity. You can exploit in-game bugs to create cool gameplay and not worry about it being too hard to use in a regular level.</b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-pink-600 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">What are the requirements for a level to be on the list?</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">The requirements, put simply, are:</b>
                    <b class="font-normal mt-4">The level has to be possible on atleast 1 fps (changing fps mid-level is prohibited). The level is also required to be possible without the use of no-clip (AKA Physically possible)</b>
                    <b class="font-normal mt-4">The level must NOT have parts that have 15cps spam or above. There are a few minor exceptions to this (swift-clicks, double-cliks) that are explained in detail in the rules below</b>
                    <b class="font-normal mt-4">The level is also required to have presentable decoration and gameplay, that also matches the version of the level's deco (this means no wave in 1.0 styled deco levels)</b>
                </div>
            </div>

            <div class="ILL_Faq_card overflow-hidden">
                <div class="flex flex-row bg-pink-600 p-3 text-white text-center items-center">
                    <fa-icon [icon]="i_question" class="mx-1 text-3xl"></fa-icon>
                    <b class="text-xl font-semibold mx-auto my-0">Why are you wasting time making levels that nobody is going to play/not going to be rated?</b>
                </div>
                <div class="flex flex-col p-3 text-lg">
                    <b class="font-normal">This is a complex question, whose answer varies from person to person. There are many reasons why people decide to make ILL levels.</b>
                    <b class="font-normal mt-4">Some people enjoy the concept of pushing the limits of GD and experiment with brand-new gameplay ideas.</b>
                    <b class="font-normal mt-4">Others may want to make something different than what they normally make, and try something new by making a level not bound by difficulty they are used to building with.</b>
                    <b class="font-normal mt-4">Other people just make impossible levels for fun. There are many more reasons on why people decide to join the ILL and make levels.</b>
                    <b class="font-normal mt-4">If you are interested in the idea you can try it out and build an ILL level!</b>
                </div>
            </div>
        </div>
        
    <div class="flex flex-col items-center">
        <div class="bg-slate-200 p-5 rounded-lg shadow-lg lg:w-fit dark:text-white dark:bg-slate-600 flex flex-col items-center w-screen">
            <b class="text-2xl  font-normal text-center">Extended Information</b>
            <b class="font-light text-sm text-center">Here is the document for extra information about the ILL</b>
        </div>
        <div class="lg:p-5 p-3 bg-slate-200 dark:bg-slate-600 ILL_Scroll rounded-lg shadow-lg lg:w-fit w-screen m-2">
           
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vT5F1mqsiTZqjwqV_z2QAy4hy8fJuMqy_4gMwPadW1MNfWBhxMW__tfgb9Nlbfk5PwSl9D_TlyFlSBb/pub?embedded=true"
            class="lg:w-[750px] w-full h-[820px]" frameBorder="0" title="ILL Information"></iframe>
        </div>
    </div>
</div>